*.pyc
*.pyo
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
\#*
*~

.playwright-cli/

vendor-build/**/node_modules/
vendor-build/**/package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
